:root {
  --dark-mode-bg: rgb(26, 33, 44);
  --light-mode-bg: white;
  --dark-mode-header: rgb(52,53,65);
  --light-mode-header: #dfe0e1;
  --dark-mode-header-border: #696969;
  --light-mode-header-border: 	#BEBEBE;
  --dark-mode-text: white;
  --light-mode-text: black;
  --dark-mode-gh-icon: /github-mark-white.png;
  --light-mode-gh-icon: /github-mark-dark.png;

  --header-bg-color: var(--dark-mode-header);
  --header-border-color: var(--dark-mode-header-border);
  --bg-color: var(--dark-mode-bg);
  --text-color: var(--dark-mode-text);
  --github-icon: var(--dark-mode-gh-icon);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/