.games {
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    margin-bottom: 100px;
    text-align: center;
}

.games-row {

}

.scrollableContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.yesterday-date {
    text-align: center; /* Center the text inside the input */
    margin: 10px auto; /* Vertical margin for spacing, centered horizontally */
    padding: 5px;
    font-family: 'Papyrus', cursive; /* Stylistic font choice */
}

.date {
    text-align: center;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Papyrus', cursive;
}

table {
    font-family: Arial, sans-serif; 
    border-collapse: separate;
    border-spacing: 8px;
}

td {
    padding-left: 20px;
    padding-right: 20px;
}

.td-img {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.scrollableContainer {
    overflow-y: auto;
  }

.img-line-left {
    padding-right: 5px;
}

.img-line-right {
    padding-left: 0px;
}